<div class="col-md-12 rec-form">
    <div id='signoff' > {{hmc.user.name}} <span id='logoff'> <a href="#/login" class="btn btn-link">Sign Out</a></span></div>
    <h2>Add Emphasis Requirements </h2>
    <div ng-show="vm.error" class="alert alert-danger">{{vm.error}}</div>
    <form name="form"  role="form">

        <p><strong>Select Requirement Type: </strong><input type="radio" ng-model="hmc.gened_info.type"  value="1" /> Single requirement
            <input type="radio" ng-model="hmc.gened_info.type" value="3" /> Group</p>
        <div ><div class='col-xs-4'>Requirement Label</div>
            <div><textarea ng-model='hmc.gened_info.label' placeholder='Emphasis requirement label' cols='80' name='label' id='label' required >{{hmc.gened_info.label}}</textarea>
                <span ng-show="form.label.$dirty && form.label.$error.required" class="help-block">Requirement label  is required</span>
            </div>
        </div>
        <div >
            <p><strong>Select Category Type:</strong> <input type="radio" ng-model="hmc.gened_info.category"  value="1" /> Main category
                <input type="radio" ng-model="hmc.gened_info.category" value="2" ng-click='hmc.getRequirementLabels()'/> Sub category</p>
            <div class='plan_filter_item' ng-show='hmc.gened_info.category == 2'>
                <span id="gened-choice-label">Select Parent Requirement | </span>
                <select ng-model='hmc.requirement_choices'  class='dropdown gened-filter' 
                        data-ng-options='m.label for m in hmc.requirement_labels track by m.req_id' name='gened' id='gened' required  > 
                    <!--ng-change='hmc.getRequirementList("gened", hmc.info)'-->
                    <option value="" >-- Select requirement --</option>
                </select>

            </div>
            <table class='table' >
                <tr>
                    <td class='col-xs-4'>Notes</td>
                    <td><textarea ng-model='hmc.gened_info.notes' placeholder='Additiona information' cols='80'>{{hmc.gened_info.notes}}</textarea></td>
                </tr>

                <tr>
                    <td class='col-xs-4'>Minimum units required</td>
                    <td><input type='text' ng-model='hmc.gened_info.min_credits' placeholder='Minimum units required' value='{{hmc.gened_info.min_credits}}' /></td>
                </tr>
                <tr>
                    <td class='col-xs-4'>Maximum units required</td>
                    <td><input type='text' ng-model='hmc.gened_info.max_credits' placeholder='Maximum units required' value='{{hmc.gened_info.max_credits}}' /></td>
                </tr>
                <tr>
                    <td class='col-xs-4'>Eligible Course List</td>
                    <td><textarea ng-model='hmc.gened_info.courses' placeholder='Courses required' cols='80' required ng-pattern='/^[-1]|([a-zA-Z]+[\s]*:[\s]*([\d\/]{3,8},[\s]{0,})*[\d\/]{3,8}[\s]*;)$/'>{{hmc.gened.courses}}</textarea></td>
                </tr>
                <tr>
                    <td class='col-xs-4'>Number of courses required</td>
                    <td><input type='text' ng-model='hmc.gened_info.num_courses' placeholder='Minimum courses required' value='{{hmc.gened_info.num_courses}}' />
                        <br/>eq-n, ge-n,le-n</td>
                </tr>
                <tr>
                    <td class='col-xs-4'>Requirement type</td>
                    <td>

                        <select ng-model='hmc.state'   
                                data-ng-options='m.name for m in hmc.req_types track by m.id' name='type' id='type' required>
                            <option value="" >--Select requirement type--</option>
                        </select>
                        <span ng-show="form.label.$dirty && form.label.$error.required" class="help-block">Emphasis  is required</span>
                        <p ng-show="hmc.state.id == 3">
                            <select ng-model='hmc.sub_state'   
                                    data-ng-options='m.name for m in hmc.req_subtypes track by m.id' name='type' id='type' >
                                <option value="" >--Select requirement type--</option>
                            </select>
                        </p>
                    </td>
                </tr>
            </table>
        </div>
        <div class="form-actions">
            <button type="button" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-primary" ng-click="hmc.save()">Update</button>


        </div>
    </form>
</div>
