/*------CORE PLANNER------*/	
/*------aug-13-2015---------*/	
/*------PHONE------*/	

@font-face {	font-family: Ubuntu-Regular; 
			src: url("fonts/Ubuntu-Regular.ttf");
    			}

@font-face {	font-family: Ubuntu-Medium; 
			src: url("fonts/Ubuntu-Medium.ttf");
    			}

@font-face {	font-family: Ubuntu-Bold; 
			src: url("fonts/Ubuntu-Bold.ttf");
    			}

/*body{
		background-color: #777;
		font-family: 'Ubuntu-Regular';
		color: #555;
		}
*/
	
#course-item {
    background-color : #fff;
    height: 150px;
    margin: 10px 20px;
}
#wrap{
		background-color: #555;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		border-radius: 20px;
		}
		
#header{
		background-color: #eee;
		height: 3em;
		width: 100%;
		margin-bottom: 1.5em;
		border-bottom: 8px solid #c1ced4;
		box-shadow: 0 6px 10px #444;
		}

/*#logo{
		width: 100%;
		max-width: 190px;
		margin: 0.7em 0.5em 0.5em 2%;
		}*/	

#logo{
		width: 100%;
		max-width: 230px;
		float: left;
		margin: 0.5em 0.5em 0.5em 2%;
		}


/*------Requirements------*/

#requirements{
		background-color: #f7f9f8;
		height: 43em;
		float: left;
		width: 67%;
		margin-left: 2%;
		border-radius : 10px;
	}

#reqs-head{
		float: left;
		width: 95%;
		margin: 0.6em 2.5% 1em 4%;
		text-align: left;
		}

#req-box {
		height : 34em;
		margin-top: 1.2em;
		margin-left: 4%;
		width: 90%;
		font-size : 8pt;
	}

.plan_filter_item{
		margin-left: 10px;
		margin-bottom: 0.6em;
		width: 90%;
		background-color: #fff;
		padding: 3px 5px 3px 5px;
		border-radius: 2px;
		border: 2px solid #eee;	
		float: left;	
	}

#major-choice-label, #minor-choice-label {
		margin-left: 1%;
		margin-right: 2%;

	}

#minor-choice-label {padding-right: 7px;}

.dropdown, .save-filter{
		width: 78%;
		float: right;
		height: 1.5em;
		background-color: #fff;
		border-radius: 0px;
		border: none;

	}
.save-filter { width: 60%;}

#major-reqs-head, #minor-reqs-head, #univ-reqs-head{
		margin-bottom: 0.8em;
		width: 98%;
		height: 1.8em;
		background-color: #b4c3cb;
		padding-top: 2px;
		padding-left: 6px;
		color: #434343;
		
	}




/*------COURSES------*/		
		
#courses{
		background-color: #f7f9f8;
		height: 43em;
		float: left;
		width: 67%;
		margin-bottom: 1.7em;
		margin-left: 1.5%;
		border-radius : 10px;
		}

#crss-head{
		float: left;
		width: 92%;
		margin: 1em 4% 0 4%;
		text-align: center;
		}
		
#crss-head p{
		margin: 0px;
		text-align: left;
	}
		
#crss-filter, #gened-filter {
		background-color: #fff;
		clear:both;
		width: 93%;
		margin: 0.7em 2% 0px 3.5%;
		border-radius: 2px;
		border: 2px solid #eee;
		padding: 0px 12px 0 0px;
		height: 2.5em;
	}
		
#gened-filter { margin: 0; width: 100%}

#crss-crslist-box{
		background-color: #fff;
		height: 28em;
		float: left;
		width: 93%;
		margin: 0.9em 2% 0 3.5%;
		}
		
#crsp-crslist-box{
		background-color: #fff;
        height: 32em;
        float: left;
		width: 93%;
		margin: 0.4em 2% 0 3.5%;
        }

#crslist-listhead, #crslist-additional-listhead{
		background-color: #8098a6;
		width: 100%;
		padding-left : 10px;
		height : 1.6em;
		margin-top:1px;
		border-bottom: 3px solid #b4c3cb;
		}

#crslist-additional-listhead{
		margin-top: 1em;
		}
		
#crslist-list, #crslist-additional-list{
		background-color: #fff;
		width: 91%;

		}

.crslist-course-list {
		background-color: #fff;
		margin: 0px;
		height: 27em;
}

#crplist-course-list {
        background-color: #fff;
        margin: 0px;
        height: 32em;
}


#crss-drop-down {
	cursor : pointer;
	color : #666;
	background-color: #fff;

}
		
#crss-dpdown-icon {
		float: right;
	}

#crss-dpdown-icon img{
	width: 22px;
	float: right;
	margin-top: -24px;
	border-radius: 4px;
	}
	
#crss-dpdown-icon img:hover {
	margin-top: -25px;	
	padding: 0 2px 0 2px;
	box-shadow: 1px 1px 4px #ddd;
	}

#adv-btn, #req-create-btn, #pre-btn{
		background-color: #fff;
		float: right;
		width: 17.4em;
		margin: 0.9em 4% 0 4%;
		border-radius : 6px;
		border: none;
		padding: 4px 0 4px 6px;
		cursor : pointer;
		box-shadow: 2px 2px 3px #bbb;
		}
#pre-btn { float: left;}
#adv-btn:hover, #req-create-btn, #pre-btn{
		box-shadow: 3px 3px 6px #bbb;
		box-shadow: 1px 1px 2px #bbb;
		margin: 0.8em 3.5% 0 4%;
		}
		
#adv-btn-text{
		color: #555;
		float: left;
		padding: 6px 0 2px 8px;
		
	}

.crss-item-list, .crss-delete-course {
		cursor : pointer;
	}

.crss-item-list {
		font-size: 9pt;
		margin-left: 4%;	
	}

.nav-tabs {
		background-color: #f5f8f6;
		border: none;	
}


.nav-tabs>li a{
		background-color: #eaeaea;
		margin-right: 0.5em;
		color: #434343;
		border: none;
			
}

.nav-tabs>li a:hover{
		background-color: #ddd;
		border: none;
		color: #434343;	
}


.nav-tabs>li.active>a{
		background-color: #eee;
		border: none;	
}

.nav-tabs>li.active>a:hover{
		background-color: #eee;
		border: none;	
}


/*------PLANS------*/	
				
#plans{
		background-color: #f7f9f8;
		height: 43em;
		float: left;
		width: 25%;
		margin-left: 1.5%;
		border-radius : 10px;
		}
		
#plns-head{
		float: right;
		width: 95%;
		margin: 0.6em 4% 0.4em 0%;
		text-align: right;
		letter-spacing: 1pt;
		}

#plns-container{
	height: 42.3em;
	margin-bottom: 12px;
	clear: right;
	overflow-y: scroll;
	}
	
#plns-compcrs-box, .plns-sem-box{
		display: block;
		background-color: #fff;
		height: 10em;
		float: left;
		width: 92%;
		margin: 1em 4% 0 4%;
		box-shadow: 0 6px 12px #ccc;
		}

		
#compcrs-listhead{
		background-color: #8098a6;
		float: left;
		width: 100%;
		padding-left : 10px;
		height : 1.5em;
		border-bottom: 3px solid #70e28d;
		box-shadow: 0 6px 12px #ccc;
		}
		

#compcrs-list, .sem-list{
		float: left;
		width: 100%;
		margin: 1em 0 0.5em 0.7em;
		height : 8em;
		/*height: 100%*/
		overflow-y: margin;
		}
	
#plans-semester-box {
    float: left;
    width: 100%;
    height: 34.5em;
    overflow-y:scroll;
}	
		
.sem-listhead{
		background-color: #8098a6;
		float: left;
		width: 100%;
		padding-left: 10px;
		height: 1.5em;
		border-bottom: 3px solid #c0e28d;
		box-shadow: 0 3px 6px #ccc;
		}
		
	
#pln-end{
		margin-top: 1em;
		margin-left: 2em;	
		float: left;
		font-size: 8pt;
		font-style: italic;
	}
	

		
.btn-img img{
		width: 22px;
		float: right;
		padding-top: 3px;
		padding-right: 7px;
	}

.sem-listhead-panel{
		float: right;
	}
	
.credit-total{
		float: left;
		margin-top: 3px;
		margin-right: 20px;
	}

.crss-reset-semester img{
		width: 18px;
		padding-top: 2px;
	}

.crss-reset-semester img.onhover{
			height:0;
			width:0;
			border: none;
	}
	
.crss-reset-semester:hover img.onhover{
			position: relative;
			top: 0;
			left: 0;
			height:18px;
			width:18px;
			opacity: 0.7;
	}
	
.crss-reset-semester:hover img.normal{
			height:0;
			width:0;
			border: none;
	}

				
.crss-delete-semester img{
		width: 14px;
		padding-bottom: 3px;
		margin-left: -6px;
	}
	
.crss-delete-semester img.onhover{
			height:0;
			width:0;
			border: none;
	}

.crss-delete-semester:hover img.onhover{
			position: relative;
			top: 0px;
			left: 6px;
			height:14px;
			width:14px;	
			opacity: 0.7;
	}
	
.crss-delete-semester:hover img.normal{
			height:0;
			width:0;
			border: none;
}

.crss-delete-course{
		width: 14px;	
	}
	

/*------Type Formatting------*/	

#logo{
		font-family: 'Ubuntu-Regular';
		font-size: 18pt;
		margin-top: 0;
		
	}

.crss-mainhead, #plns-head, #reqs-head{	
		font-size: 15pt;
	}


#crslist-listhead, #compcrs-listhead, .sem-listhead, #crslist-additional-listhead{
		font-size: 10pt;
		color: #f7f9f8;
	}
	

.credit-total{
		font-size: 9pt;	
	}

#crss-head-sub{
		font-size: 13pt;	
		font-style: italic;
	}

 #crss-subject-category, #crss-subject-area{
		font-size: 11pt;	
	}
	
#adv-btn, #save-btn{
		font-family: 'Ubuntu-Regular';
		font-size: 11pt;	
	}
	
.btn-sub{
		font-family: 'Ubuntu-Regular';
		font-size: 10pt;	
		font-style: italic;	
	}
	
.crslist-list, #crss-course-list-box{
		font-size: 9pt;
	}
	
#typeahead-text, #typeahead-tab-text{
		font-size: 8pt;	
		font-style: italic;
  		padding: 8px 12px 0 3px;
  		background-color: white;
 		border: none;
 		height: 2.5em;
 		width: 80%;
 		color: #555;
 		border:none;
  	}
	
#compcrs-list, #takencrs-list, .sem-list, .crss-subhead{
		font-size: 8pt;	

	}

.crss-subhead{
		display: block;
		padding-top: 1.5em;
		margin-bottom: 0.5em;
	}
	
p.req-label { font-size: 7pt;}

.course-cdts {text-align: right;}
	
/*------Icons------*/

#crss-search-icon{
		width: 22px;
		float: left;
	}

.crs-x-icon{
		width: 10px;
	}
	
.crs-alert-icon{
		width: 13px;
		margin-top: 0;
}


#copyright{
		clear: both;
		color: #9a9a9a;
		font-size: 6pt;
		float: right;	
		margin: -12px 3% 1em 0px;
	}
		
/*------Sobitha Added------*/	


#save-btn, #save-pdf-btn, #edit-courses-btn{
		background-color: #fff;
		margin-top: 0.9em;
		margin-right: 4%;
		padding: 4px 0 4px 6px;
		border-radius : 6px;
		border: none;
		cursor : pointer;
		box-shadow: 1px 1px 2px #bbb;
		}
#edit-courses-btn{
	margin-left : 5%;
	width : 16em;
}
#save-btn {
		float: left;
		width: 6.5em;
}

#save-pdf-btn {
		float: right;
		width: 12em;
}
		
#save-btn:hover,  #save-pdf-btn:hover{
		box-shadow: 3px 3px 6px #bbb;
		/*margin: -0.15em 12px 0 4%;*/
		margin:0.8em 4.5% 0 0;
		}
		
#save-pdf-btn-text, #save-btn-text{
		color: #555;
		float: left;
		padding: 3px 0 2px 8px;
	}

#crss-subject-category {
	border-bottom : 2px solid #bbb;
	font-size: 9pt;
}

#crss-subject-category, #crss-subject-area {
	padding : 5px;
}

#crss-course-list-box {
	margin: 0;
	height : 30em; 
	overflow-y : scroll
}

#crsp-course-list-box {
        margin: 0;
        height : 20em;
        overflow-y : scroll
}

#crsp-additional-course-list-box {
        margin: 0;
		margin-top: 1em;
        height : 8em;
        overflow-y : scroll
}

a:hover { outline : none; }
.crss-item-list:hover { background-color : #f8f8f8;}
.panel-bgdy {
	height : 25em;
	overflow-y : scroll;
}
.panel-group {
	height : 27em;
	overflow-y : scroll;
}

#crss-course-list-box img {
	height : 20px;
}

.crss-delete-semester {
	padding-right : 10px;
	cursor : pointer;
}

.crss-reset-semester {
	padding-right : 10px;
	cursor : pointer;
}

.tooltip.customClass .tooltip-inner {
        color: #000;
        background-color: #fff;
	max-width : 300px;
	width : 300px;
	margin-left : 150px;
        box-shadow: 0 6px 12px rgba(0,0,0,.175);
	text-align : left;
}

.crss-completed-course {
	margin: 0; 
	padding: 0;
	font-size : 8pt;
}


/*------Columns------*/
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.crslist-list .courseid-col{
	width: 10%;
}

.crslist-list .coursename-col{
	width: 70%;
}

.crslist-list .coursedesg-col{
	width: 5%;
}

.crslist-list .credit-col{
	width: 5%;
}

.crss-completed-course .alert-col, .crss-completed-course .credit-col{
	width: 5%;
}

.crss-completed-course .courseid-col{
	width: 31%;	
}

.crss-completed-course .coursename-col{
	width: 49%;	
}

.crss-completed-course .delete-col{
	width: 5%;
	float: left;
}

#crss-filter-list{
	height : 30em;
	width: 91%;
	margin: 0em 4% 0 4%;
	overflow-y: scroll;
	border: 2px solid #eee;
	background-color: #fff;
	border-top: none;
	float: left;
	border-radius: 2px;
	font-size : 10pt;
}			

#crsp-filter-list{
        height : 29em;
        width: 100%;
        margin: 0;
        overflow-y: scroll;
        border: 2px solid #eee;
        background-color: #fff;
        border-top: none;
        float: left;
        border-radius: 2px;
        font-size : 10pt;
}

.gened-subject-list { cursor : pointer; }
.gened-subject-list:hover { background-color : #f8f8f8;}
.gened-item-label { background-color : #b4c3cb; color : #434343;}
.gened-subject-list {margin-left : 15px; } 
.compact-view { height : 24em; }

#gened-filter-list{ height: 26.7em; overflow-y: scroll;}

 .scroll-clm { height : 34.6em; overflow-y : scroll;}


#outerbox {
		margin-bottom: 10px;
}





.scroll-clm { height : 32em; overflow-y : scroll;}


.tooltip.customClass .tooltip-inner {
        color: #000;
        background-color: #fff;
        max-width : 300px;
        width : 300px;
        margin-left : 150px;
        box-shadow: 0 6px 12px rgba(0,0,0,.175);
        text-align : left;
}

.tooltip.customClass2 .tooltip-inner{
        color: #000;
        background-color: #fff;
        max-width : 500px;
        width : 200px;
        margin-left : 150px;
        box-shadow: 0 6px 12px rgba(0,0,0,.175);
        text-align : left;
}

.tooltip.customClass3 .tooltip-inner{
		left : 100px;
        color: #000;
        background-color: #fff;
        max-width : 500px;
        width : 400px;
        margin-left : 200px;
        box-shadow: 0 6px 12px rgba(0,0,0,.175);
        text-align : left;
		z-index : 1000;
}

 .center-block {
	display: block;
	width: 400px;
	padding: 38px 0 20px 10px;
	margin: 30px auto;
	border: solid 2px #848484;
	background-color: #fff;
	border-radius: 5px;
}

#signoff {float: right; padding: 10px; cursor: pointer;}
#logoff:hover { text-decoration: underline;}
#taken-year, #taken-semester, #taken-type { font-size: 9pt;}

.crss-completed-label { background-color : #778899; color: #fff; }
#crss-course_cmplt_action { text-align : left;}
#crss-course-type { padding-left: 30px;}
#crss-plan-btn {margin-top : 20px;}
.change-req, .del-section, .fp-nav-btn {
        color : #0296ff;
        cursor : pointer;
}
.change-req:hover, .del-section:hover,  .fp-nav-btn:hover{
        text-decoration : underline ;
}
.fp-nav-btn{ 
	margin-left: 20px;
}
.req_met { background-color: #99ffcc}

.rec-form { background-color : #eee; color : #000}