/*------adriennefoster------*/	
/*------jun-24-2015---------*/		
/*------TABLET------*/	


#header{
		background-color: #fff;
		height: 2em;
		width: 100%;
		}
					
#logo {
		width: 100%;
		max-width: 190px;
		margin: 0.7em 0.5em 0.5em 2%;
		}

/*------COURSES------*/		



/*------PLANS------*/	
