<div class="col-md-12 rec-form">
    <div id='signoff' > {{hmc.user.name}} <span id='logoff'> 
            <a href="#/" class="btn btn-link">Home</a>
            <a href="#/login" class="btn btn-link">Sign Out</a></span></div>
    <h2>Update Prereq Requirement </h2>
    <div ng-show="vm.error" class="alert alert-danger">{{vm.error}}</div>
    <form name="form"  role="form">

        <div class='col-xs-12 plan_filter_item' >
            <span id="gened-choice-label">Subject </span>
            <select ng-model='hmc.subject'  class='dropdown gened-filter'  ng-options='m.subject as m.name for m in hmc.subjects' 
                    ng-change='hmc.getPrereqList(hmc.subject)'>
                <option value="" >-- Select subject --</option>
            </select>
        </div>
        <div ng-show='hmc.courseList.length > 0'>

            <div id='course-item' class='col-xs-10 col-xs-offset-1'>
                <table class='table table-condensed' >
                    <tr>
                        <td class='col-xs-4'>Course</td>
                        <td>{{hmc.course_info.id}}</td>
                    </tr>

                    <tr>
                        <td class='col-xs-4'>Prerequisite</td>
                        <td class='col-xs-8'>{{hmc.course_info.prereq}}</td>
                    </tr>
                    <tr>
                        <td class='col-xs-4'>InfixPrereq</td>
                        <td ><input type='text' ng-model='hmc.course_info.infixPrereq' placeholder='infixPrereq' 
                                   class='col-xs-12' value='{{hmc.course_info.infixPrereq}}' /></td>
                    </tr>


                </table>

                <div class="form-actions">
                    <button type="button" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-primary" ng-click="hmc.save()">Update</button>
                    <button class='btn btn-primary' style='margin-left: 10px' type='button' ng-disabled='hmc.courseList.length == 0 || hmc.index >= hmc.courseList.length - 1'
                            ng-click='hmc.displayNextItem()'>Next Course</button>

                </div>
            </div>
        </div>
    </form>
</div>
